name: Build and Test Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build the Docker image
        run: docker build . --file Dockerfile.dev --tag samueladekunle/simplenext-dev:latest

      - name: Run the Jest tests
        run: docker run samueladekunle/simplenext-dev:latest npm run test